@use "../_global/import" as global;
//// ヘッダースタイル
.header {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: flex-end;
  @include global.media_queries(pc) {
    height: 80px;
  }
  @include global.media_queries(tab) {
    height: 60px;
  }
  &-inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    @include global.media_queries(pc) {
      width: 110px;
    }
    @include global.media_queries(tab) {
      width: 90px;
    }
    > a {
      width: 100%;
      > img {
        width: 100%;
      }
    }
  }
  &-icon {
    @include global.media_queries(pc) {
      display: none;
    }
    @include global.media_queries(tab) {
      display: block;
      width: 25px;
      height: 18px;
      cursor: pointer;
      position: relative;
      z-index: 99999;
    }
    i {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      transition: all 0.5s;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
  }
  &-nav {
    @include global.media_queries(tab) {
      display: block;
    }
    @include global.media_queries(tab) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: all 1s;
    }
    &-inner {
      @include global.media_queries(pc) {
        display: flex;
      }
      @include global.media_queries(tab) {
        width: 100%;
      }
      @include global.media_queries() {
        width: 100%;
      }
    }
    &-item {
      &:not(:first-child) {
        @include global.media_queries(pc) {
          margin-left: 40px;
        }
        @include global.media_queries(tab) {
          margin-top: 40px;
        }
      }
      @include global.media_queries(pc) {
        animation-name: header_nav_animation_pc;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        &:nth-child(1) {
          animation-delay: 0.2s;
        }
        &:nth-child(2) {
          animation-delay: 0.3s;
        }
        &:nth-child(3) {
          animation-delay: 0.4s;
        }
        &:nth-child(4) {
          animation-delay: 0.5s;
        }
        &:nth-child(5) {
          animation-delay: 0.6s;
        }
        @keyframes header_nav_animation_pc {
          0% {
            opacity: 0;
            transform: translateY(30px);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      @include global.media_queries(tab) {
        text-align: center;
      }
      > a {
        color: global.$color_white;
        width: 100%;
        display: inline-block;
        transition: 0.3s;
        transform: scale(1);
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
